<div class="pull-right" style="margin-bottom: 30px; margin-top: 15px;">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Wage_lower_bound</th>
      <th>Wage_upper_bound</th>
      <th>Action</th>
      <th>Created_at</th>
    </tr>
  </thead>

  <tbody>
  <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
  </tbody>
</table>
